body, html {
                height: 100%;
                margin: 0;
                font-family: sans-serif;
            }
            .tablink{
            background-color:#555;
            color:white;
            float:left;
            border:none;
            outline: none;
            cursor:pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
            font-family: sans-serif;
                overflow: auto;
        }
        .tablink:hover{
            background-color: #777;
        }
        .tabcontent{
            color:white;
            display: none;
            padding: 100px 20px;
            height: 130%;
            font-family:sans-serif;
        }
        .tabcontentSubTab{
            color: white;
            display: none;
            padding: 100px 20px;
            height: 80%;
            font-family: sans-serif;

        }
        .tablinkSubTab{
            background-color: #555;
            color: white;
            float: right;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 15px;
            width: 25%;
            font-family: sans-serif;
            overflow: auto;

        }
        .tablinkSubTab:hover{
            background-color: #777;
        }

            #Home {background-color: #73C6B6;}
                #Monthly{background-color: #A2D9CE;}
                #Weekly{background-color: #A2D9CE}
            #List {background-color: #87ced6;}
                #Lists{background-color: powderblue;}
                #Schedule{background-color: powderblue;}
                #Health{background-color: powderblue;}
                #resources{background-color: powderblue;}


          /*   #todoContainer
             #todoButton*/

            h4{
                text-align: center;
                font-size: 140%;
                display: inline-block;
                vertical-align: middle;
/*                margin-left: 50%;*/

            }
            .button{
                background-color: powderblue;
                border-color: black;
                font-size: 20px;

/*change margin left back later maybe*/
                margin-left: 25px;
                text-align: right;
                position:absolute;
                padding: 2px;
            }

                #moveBackwardsMonths{
                    margin-left: 45%;

                }
            .calendar{
                display:grid;
                padding: 1px;
                grid-template-columns: auto auto auto auto auto auto auto;
                grid-template-rows: 40px 90px 90px 90px 90px 90px 90px;
               background-color: black;
               grid-gap: 1px;
               border: none;
            }
            .day{
                color: black;
                background-color: white;
                padding: 10px;
                font-size: 15px;
                text-align: left;
                display: grid;
                grid-template-rows: 10px 10px 10px 10px 10px;
                grid-template-columns: auto;
                overflow: auto;
            }
           .may{
               background-color:#ededed;
               color:#797D7F;
           }
           .weekday{
               text-align: center;
               font-size: 20px;
               background-color: #7B7D7D;
           }
           .day, .may, .weekday{
               padding: 4px;
           }
           .addevent{
                color:black;
                font-family: sans-serif;
                padding: 10px 12px;
                text-align: center;
                background-color: aliceblue

            }


            /*weekly calendar stuff*/
            .week2{
           grid-template-columns: auto auto auto auto auto auto auto;
           grid-template-rows: 40px 160px;
           display:grid;
           background-color: black;
           grid-gap: 1px;
           border-style: solid;
           border-width:1px;
           border-color: black;
            }
            .h5{
                font-size: 180%;
            }

           .events{
                color:black;
               text-decoration-color: aqua;
                text-align: center;

            }

        .closeX {
            color: gainsboro;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

        .rectangle {
            display: none;
            height: 150px;
            width: 300px;
            background-color: honeydew;
            border: solid black 2px;
            margin-left: 37%;
            text-align:center;
            color:black;
            overflow: auto;
            position: fixed;
            box-shadow: 10px 10px 10px #b6b6b8;
           
        }

        #eventsBoxMonthly, #eventsBoxWeekly{
            color: black;
        }

        .hourly{
            background-color: white;
            color: black;
            padding: 5px;
            border: black 1px solid;
            overflow: auto;
        }

    .sDays{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto auto;
        color: black;
    }

    table {
        color: black;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        color: black;
        border: 1px solid gainsboro;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: gainsboro;
    }

    .links{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto;
        text-align: center;
        grid-gap: 50px;
    }

    .photolinks{
    }
