body, html {
                height: 100%;
                margin: 0;
                font-family: sans-serif;
            }    
            .tablink{
            background-color:#555;
            color:white;
            float:left;
            border:none;
            outline: none;
            cursor:pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 25%;
            font-family: sans-serif;
        }
        .tablink:hover{
            background-color: #777;
        }
        .tabcontent{
            color:white;
            display: none;
            padding: 100px 20px;
            height: 120%;
            font-family:sans-serif;
        }
        .tabcontnt{
            color: white;
            display: none;
            padding: 100px 20px;
            height: 80%;
            font-family: sans-serif;
        }
        .tablnk{
            background-color: #555;
            color: white;
            float: right;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 15px;
            width: 25%;
            font-family: sans-serif;
        }
        .tablnk:hover{
            background-color: #777;
        }
     
            #Home {background-color: #73C6B6;}
                #Monthly{background-color: #A2D9CE;}
                #Weekly{background-color: #A2D9CE}
                #Daily{background-color: #A2D9CE;}
            #List {background-color: #58D68D;}
                #Lists{background-color: #82E0AA;}

            
             #todoContainer
             #todoButton
   
            h4{
                text-align: center;
                font-size: 140%;
                
            }
            .button{
                background-color: powderblue;
                border-color: black;
                font-size: 20px;
                
/*change margin left back later maybe*/
                margin-left: 25px;
                text-align: right;
                position:absolute;
            }
            .calendar{
                display:grid;
                padding: 1px;
                grid-template-columns: auto auto auto auto auto auto auto;
                grid-template-rows: 40px 90px 90px 90px 90px 90px 90px; 
               background-color: black;
               grid-gap: 1px;
               border: none;
            }
            .day{
                color: black;
                background-color: white; 
                padding: 10px;
                font-size: 15px;
                text-align: left;
                display: grid;
                grid-template-rows: 10px 10px 10px 10px 10px;
                grid-template-columns: auto;
            }
           .may{
               background-color:#ededed;
               color:#797D7F;
           }
           .weekday{
               text-align: center;
               font-size: 20px;
               background-color: #7B7D7D;
           }
           .day, .may, .weekday{
               padding: 4px;
           }
           .addevent{
                color:black;
                font-family: sans-serif;
                padding: 10px 12px;
                text-align: center;
                background-color: aliceblue
                
            }

            
            /*weekly calendar stuff*/
            .week2{
           grid-template-columns: auto auto auto auto auto auto auto;
           grid-template-rows: 40px 160px;
           display:grid;
           background-color: black;
           grid-gap: 1px;
           border-style: solid;
           border-width:1px;
           border-color: black;
            }
            .h5{
                font-size: 180%;
            }

           .events{
                color:black;
                text-align: center;
                
            }

/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: gainsboro;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}