body, html{
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}
.tablink{
    background-color:#555;
    color:white;
    float:left;
    border:none;
    outline: none;
    cursor:pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    font-family: sans-serif;
}
.tablink:hover{
    background-color: #777;
}
.tabcontent{
    color:white;
    display: none;
    padding: 100px 20px;
    height: 100%;
    font-family:sans-serif;
}
.tabcontnt{
    color: white;
    display: none;
    padding: 100px 20px;
    height: 75%;
    font-family: sans-serif;
}
.tablnk{
    background-color: #555;
    color: white;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 15px;
    width: 25%;
    font-family: sans-serif;
}