
body, html {
                height: 100%;
                margin: 0;
                font-family: -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
                font-weight: 300;
                margin: 0;
        }


        .fa {
            font-size:20px;
            color:#787878;
        }
        .editEvents{
            float: left;
            padding: 8px;
            border-radius: 5px;
            background-color: white;
            display: flex;
            border: hidden;
        }
        .arrowButtons{
            border:none;
            padding: 6px;
            background: none;
            color:#787878;
        }
        .fa-chevron-left,.fa-chevron-right{
            font-size:15px;
            color: #787878;
        }
        /*    .tablink{*/
        /*    background-color: #bccceb;*/
        /*        position: fixed;*/
        /*    color:black;*/
        /*    float:left;*/
        /*    border:none;*/
        /*    outline: none;*/
        /*    cursor:pointer;*/
        /*    padding: 14px 16px;*/
        /*    font-size: 17px;*/
        /*    width: 25%;*/
        /*    font-family: sans-serif;*/
        /*        overflow: auto;*/
        /*        display: inline-block;*/


        /*}*/
        /*.tablink:hover{*/
        /*    background-color: #d3ddf0;*/
        /*}*/


        .tabcontent{
            color:#555;
            display: none;
            padding: 100px 20px;
            height: 130%;
            font-family:inherit;
            display: inline-block;
        }
        .tabcontentSubTab{
            color:#555;
            display: none;
            padding: 10px 20px;
            height: 80%;
            font-family: inherit;
            display: inline-block;
        }
        .tablinkSubTab{
            background-color: #d3ddf0;
            color: white;
            float: right;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 15px;
/*            width: 0%;*/
            font-family: inherit;
/*            display: inline-block;*/
            overflow: auto;

        }
        .tablinkSubTab:hover{
            background-color: #d3ddf0;
        }

            #Home {background-color: #f5f5f5; overflow: auto;}
                #Monthly{background-color: white;}
                #Weekly{background-color: white;}
/*            #List {background-color: #87ced6;}*/
                #List{background-color: #f5f5f5; overflow: auto;}
                #Schedule{background-color: #f5f5f5; overflow: auto;}
                #Resources{background-color: #f5f5f5; overflow: auto;}


          /*   #todoContainer
             #todoButton*/

            h4{
                text-align: center;
                font-size: 140%;
                display: inline-block;
                vertical-align: middle;
                color:#787878;

            }

            /*.highlight{*/
            /*    background-color: chartreuse;*/
            /*    padding-bottom: 10px;*/
            /*}*/
/*            .button{*/
/*                background-color: powderblue;*/
/*                border-color: black;*/
/*                font-size: 20px;*/

/*!*change margin left back later maybe*!*/
/*                margin-left: 25px;*/
/*                text-align: right;*/
/*                position:absolute;*/
/*                padding: 2px;*/
/*            }*/

            #monthButtons > *,#weekButtons > *{

                border-radius:0;
                border:none;
                /*background-color:#f5f5f5;*/
                /*color:#7B7D7D;*/
                background: none;
                color: #787878;
                font-weight: bold;
                font-size: 15px;
                display: inline-block;
                position: sticky;
                z-index: 1;
            }

            #monthButtons{
                margin-left: 30%;
            }
            #weekButtons{
                margin-left: 30%;
            }

                #moveBackwardsMonths{
                    margin-left: 42%;
                } #moveBackwardsWeeks{
                    margin-left: 40%;
                }

            .calendar{
                display:grid;
                padding: 1px;
                grid-template-columns: auto auto auto auto auto auto auto;
                grid-template-rows: 40px 90px 90px 90px 90px 90px;
               background-color:#555;
               grid-gap: 1px;
               border: none;
                list-style: none;
            }
            .day{
                color: black;
                background-color: white;
                padding: 10px;
                font-size: 15px;
                text-align: left;
                display: grid;
                grid-template-rows: 10px 10px 10px 10px 10px;
                grid-template-columns: auto;
                overflow: auto;
            }

            /*day:hover{*/
            /*    background-color: #D4FCFC;*/
            /*}*/


           .weekday{
               text-align: center;
               font-size: 20px;
               background-color: #999e9e;
               color: white;
           }
           .day, .may, .weekday{
               padding: 4px;
           }


            /*weekly calendar stuff*/
            .week2{
                display:grid;
           grid-template-columns: auto auto auto auto auto auto auto;
           grid-template-rows: 40px 350px;
           display:grid;
           background-color: #555;
           grid-gap: 1px;
           border-style: solid;
           border-width:1px;
           border-color: #555;
            }

           .events{
                color:#555;
               text-decoration-color: aqua;
                text-align: center;

            }

        .closeX {
            color: gainsboro;
            margin-left: 270px;
            font-size: 28px;
            font-weight: bold;
            display:inline;
        }
        .closeX:hover,
        .closeX:focus {
            color: #000;
            cursor: pointer;
        }

    .sDays{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto auto;
        color: #555;
    }

    table {
        color: #555;
        font-family: inherit;
        border-collapse: collapse;
        width: 50%;
    }

    td, th {
        color: #555;
        border: 1px solid #555;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: gainsboro;
    }

    .links{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto;
        text-align: center;
        grid-gap: 50px;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .sampleSchedules{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto auto;
        color: black;
        border: 1px black solid;
    }




#myUL {
        margin: 0;
        padding: 0;
        list-style:none;
    }

        /* Style the list items */
    #myUL li{
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .myList:hover{
        background: blueviolet;
    }

        /* When clicked on, add a background color and strike out text */
    ul li.checked {
        background: #888;
        color: #fff;
    }

        /* Add a "checked" mark when clicked on */
    #myUL>*.checked::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }

    .close {
      padding: 0px;
/*          16px 12px 16px;*/
      float: right;  
    }

    .addBtn {
        padding: 10px;
        width: 25%;
        background: #d3ddf0;
        color: white;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
}

    .close:hover {
        background-color: red;
        color: white;
    }
    input {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 72%;
        padding: 10px;
        float: left;
        font-size: 16px;
        background-color: #f5f5f5;
    }
        /* Style the "Add" button */


    .addBtn:hover {
        background-color: #d3ddf0;
    }
    .header {
    background-color: white;
    padding: 30px 40px;
    color: white;
    text-align: center;
    }
        /* Clear floats after the header */
    .header:after {
        content: "";
        display: table;
        clear: both;
    }

#todoContainer{
    background-color: white;
}

.photoLinks{
    background-color: white;

}

.resour, .sched, .todos{
    background-color: white;
    padding: 10px;
    padding-bottom: 10px;
}

.fa fa-rocket{
    float: left;
}

.navbar {
    overflow: visible;
    background-color: #bccceb;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 10px 17px #999991 ;
}

.navbar a {
    float: right;
    font-size: 19px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 19px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover{
    background-color: #d3ddf0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #d9e5fa;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fa-caret-down{
    color: white;
}

.compName{
    font-weight: bold;
}



